﻿h2{
	color:#2B760E;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top: 0px;
	padding:0;
	text-align:center;
}
body{
	color:#414141;
	font-family:Helvetica,Arial,sans-serif;
	margin:0;
}
#rightSide{
	float:right;
	width:74%
}
#rightSide_Clinical{
	float:left;
	width:1000px;
}
#header{
	margin-top:20px;
	text-align:center;
	margin-bottom:15px;
	
}
#header_Clinical{
	margin-top:20px;
	text-align:center;
	margin-bottom:15px;
	width:1000px;
}
#header img{
	float: left;
	width:214px;
	height:46px;
}
#patient{
	
}
#patient span {
	
}
#toc .toca{
	font-size:14px;
	font-weight:bold;
	margin-left:15px;
	text-transform:uppercase;
}
#pinfo{
border-bottom:1px solid #D0D0D0;
border-right:1px solid #D0D0D0;
border-top:1px solid #D0D0D0;
padding-bottom:8px;
padding-left:20px;
padding-top:11px;
text-transform:uppercase;
}
#phone{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#phone h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#birthday, #previousname{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#birthday h5, #previousname h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#sex{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#sex h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#address{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#address h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
	
}
#zip{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#zip h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
	
}
#race, #secondaryrace{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#race h5, #secondaryrace h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#ethinicity, #secondaryethnicity {
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#ethinicity h5, #secondaryethnicity h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#preferredlanguage{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#preferredlanguage h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#maritalstatus{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#maritalstatus h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#religion{
padding-bottom:10px;
padding-left:20px;
padding-top:11px;
	border-right:1px solid #D0D0D0;
	background:none repeat scroll 0 0 #EBF3E6;
	border-bottom:1px solid #D0D0D0;
}
#religion h5{
	text-transform: uppercase;
	color:#2B760E;
	margin:0 0 5px;
}
#pinfo h5{
	margin:  0;
}
#toc li{
font-size:13px;
line-height:19px;
	text-transform: uppercase;
}
#toc li a, #toc li a:visited, #toc li a:active, #toc li a:hover{
	color:#414141;
	text-decoration: none;
}
#patienty{
	color:#2B760E;
	font-weight:bold;
}
#leftSide{
	float: left;
	width:26%
	
}
#bottombar{
	background:url("Public/images/bottombar.png") no-repeat scroll 0 0 transparent;
	height: 9px;
	width: 963px;
	margin-top:-8px;
}
#top{
	border-bottom:1px solid #D0D0D0;
	padding-bottom:5px;
	padding-left:20px;
	padding-top:5px;
	text-transform:uppercase;
}
#top_Clinical{
	padding-bottom:5px;
	padding-left:20px;
	padding-top:5px;
	text-transform:uppercase;
	width:1000px;
	
}

td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	max-width:250px;
	word-wrap: break-word;
	}
th{
 text-align:left;	
}
tr{
	
}
tbody{
	
}
#maincontent{
	border-left:1px solid #D0D0D0;
	border-right:1px solid #D0D0D0;
}
#header span{
	font-size:15px;
	
}
ul {
	list-style-image:url(Public/images/arrow.png);	
}
li{
	
}
#topbar{
	background:url("Public/images/topbar.png") no-repeat scroll 0 0 transparent;
	height: 9px;
	width: 963px;
	margin-bottom:-3px;
}
div.workspace table, 
div.workspace caption, 
div.workspace tbody, 
div.workspace tfoot, 
div.workspace thead, 
div.workspace tr, 
div.workspace th, 
div.workspace td {
    border:1px solid #E6E6E6;
    border-collapse:collapse;
    padding:5px;
    text-align:center;
}
table thead{
	
}
tr:first-child{
	
}
#toc{
	background:none repeat scroll 0 0 #EBF3E6;
	border-right:1px solid #D0D0D0;
	padding:5px;
	
}
#bottoms{
	height:  100px;
	width:  100%;
	background-color: #ebf3e6;
}
.segment_Clinical{
	margin-top:-1px;
}
.segment{
	margin-top:-19px;
}
#wrapper{
	margin:0 auto;
	width:963px;
}
.segment .headseg{
	
}
#house{
	background:url("Public/images/bottomgreen.png") no-repeat scroll 0 0 transparent;
	height:63px;
	margin:0 auto -35px;
	width:1000px;
	
}
#house img{
	float:right;
	margin-right:40px;
	margin-top:40px;
	width:107px;
	height:23px;
	
}
#house2{
	background:url("Public/images/bottomgreen.png") no-repeat scroll 0 0 transparent;
	height:63px;
	margin:0 auto -35px;
	width:100%;
	
}
#house2 img{
	float:right;
	margin-right:40px;
	margin-top:40px;
	width:107px;
	height:23px;
	
}
.segment h3{
	background:url("Public/images/grdntbar.png") repeat-x scroll 0 0 transparent;
	height:41px;
	padding-top:10px;
	margin-bottom:-12px;
}
.segment_Clinical h3{
	background:url("Public/images/grdntbar.png") repeat-x scroll 0 0 transparent;
	height:41px;
	padding-top:10px;
	margin-bottom:-12px;
}

.segment span{
	
}
#signed{
	margin-left:700px;
}
.segment h3 a, .segment h3 a:visited, .segment h3 a:active, .segment h3 a:hover{
	color:#2B760E;
	font-size:14px;
	margin-left:20px;
	text-decoration:none;
	text-transform:uppercase;
}
.segment_Clinical h3 a, .segment h3 a:visited, .segment h3 a:active, .segment h3 a:hover{
	color:#2B760E;
	font-size:14px;
	margin-left:20px;
	text-decoration:none;
	text-transform:uppercase;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {

}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.hide-row
{
    visibility: hidden !important;
    display: none !important;
}

.show-row
{
    visibility: visible;
}

.table-caption
{
  text-align:left !important;
}

td pre 
{
	white-space:pre-wrap !important;
}

.hide-table
{
    visibility: hidden !important;
    display: none !important;
}

.show-table
{
    visibility: visible;
}