﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master"AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="UHSUserServiceTestWeb.Default" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
     <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Home</h1>
    
</asp:Content>
